.table { --table-min-width: 1050px; }
.table tr[aria-current="true"] { background: #f6f5ff; }

.timeline { width: 100%; height: auto; display: block; margin-block: 20px; }
.timeline text { fill: #0c1230; font-family: var(--font-ibm-plex-mono),monospace; font-size: 13px; }
